@model IEnumerable<Product>
@{

}

<div>
    <h2>Products List</h2>
    @if (Model.Count() == 0)
    {
        <h4>No Products Found</h4>
    }
    else
    {
        <table>
            <tr>
                <th>
                    Index
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Category
                </th>
                <th>
                    Brand
                </th>
            </tr>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        @product.Id
                    </td>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Price
                    </td>
                    <td>
                        @product.Category.Name
                    </td>
                    <td>
                        @product.Brand.Name
                    </td>
                    <td>
                        <a asp-controller="Products" asp-action="GetProduct" asp-route-id="@product.Id">Details</a>
                    </td>
                </tr>
            }
        </table>
    }
    <a asp-controller="Products" asp-action="Add">Add Product</a>
</div>